// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.homepage {
    body {
        padding: 46px 10rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 0.2rem;
    }

    span {
        font-size: 1rem;
    }

    .solid {
        background-color: #000;
        color: #fff;
        display: block;
        margin: 0.5rem 0;
        padding: 0.2rem;
        width: 100%;
    }

    .border {
        display: block;
        margin: 0.5rem 0;
        padding: 0.2rem;
        border: 1px solid #000 !important;
        color: #000;
    }

    a {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 0.9rem;
        color: #47663B;
        cursor: pointer;
        text-decoration: none;
    }

    i {
        font-size: 1rem;
        margin-left: 0.5rem;
        color: #47663B;
    }

    .accordion {
        width: 100%;
        margin: 0 auto;
        border-radius: none !important;
        border: solid 1px #000;
        padding-right: 0 !important;
        padding-left: 0 !important;
        box-shadow: none !important;
        border-bottom: none !important;
    }

    .accordion-item {
        border: none !important;
        border-radius: none !important;
        border-bottom: solid 1px #000 !important;
        background: #fff;
    }

    .accordion-button:focus {
        box-shadow: none !important;
        background: #fff;
    }

    .accordion-button {
        background: #fff;
        color: #000;
        border-radius: none !important;
    }

    .accordion-button:not(.collapsed) {
        box-shadow: none !important;
        color: #000 !important;
        background-color: #fff !important;
    }

    .accordion-item:first-of-type {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

    .accordion-item:last-of-type {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card {
        border: 1px solid #000;
        border-radius: 0px;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        background-color: #fff;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    .card-body {
        padding: 1rem;
        text-align: left;
    }

    .card-body a {
        width: 100%;
        display: block;
        text-align: left;
    }

    .card-text {
        font-family: 'Inter', sans-serif;
        /* Use the desired font */
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .highlight {
        text-decoration: underline;
        text-decoration-color: #47663B;
        text-decoration-thickness: 2px;
        width: max-content;
        margin: 0 2px;
    }

    .custom-margin {
        margin-bottom: 7rem !important;
    }

    .api-section {
        color: #fff !important;
    }
}


.contact {
    body {
        padding: 46px 10rem;
    }

    .contact-page {
        max-width: 600px;
        margin: 2rem auto;
        padding: 1rem;
        background: #fff;
        justify-content: center;
        align-items: center;
    }

    h2 {
        margin-bottom: 4rem;
        font-size: 16px;
    }

    .field-holder {
        position: relative;
        margin-bottom: 1.5rem;
    }

    input:focus,
    textarea:focus {
        outline: none;
        border-bottom: solid 1px #47663B;
        box-shadow: none !important;
        background: #fff;
    }

    input,
    textarea {
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        border-radius: 0;
        color: #000;
        font-size: 1rem;
        background: #fff;
    }

    textarea {
        resize: none;
    }

    label {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
        transition: all 0.3s ease;
        pointer-events: none;
        display: flex;
        align-items: center;
        cursor: text;
    }

    input:focus+label,
    textarea:focus+label,
    input.has-value+label,
    textarea.has-value+label {
        top: -1.5rem;
        font-size: 0.8rem;
        pointer-events: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000000s ease-in-out 0s;
    }

    .btn {
        display: block;
        font-size: 14px;
        color: #fff;
        background-color: #000;
        border: none;
        cursor: pointer;
        border-radius: 0 !important;
        font-family: 'Inter', sans-serif;
    }

    .btn:focus,
    .btn:active {
        outline: none !important;
        box-shadow: none;
        background-color: #47663B;
    }

    .success-message {
        color: #000;
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        width: 100%;
        margin: 1rem auto;
    }

    a {
        color: #47663B;
        text-decoration: none;
    }
}

.mission {
    body {
        padding: 46px 10rem;
    }

    .image-holder {
        position: relative;
        width: 48%;
        height: 350px;
    }

    .image-holder img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid 1px #000;
    }

    .image-holder .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .text-holder {
        line-height: normal;
    }

    .text-rotate {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: center;
        padding-left: 1rem;
        margin: 0;
    }

    a {
        color: #47663B;
        text-decoration: none;
    }
}

body.create {
    padding: 46px 0 !important;
}

.create {

    .full-height {
        height: calc(100vh - 92px);
    }

    .half-height {
        height: 300px;
    }

    .rest {
        height: calc(100vh - 392px);
    }

    .overflow-none {
        overflow-y: hidden;
    }

    .overflow-auto {
        overflow-y: scroll;
    }

    .bordered {
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .bordered-top {
        border-top: 1px solid #000;
    }

    h5 {
        background-color: #000;
        color: #fff;
        width: 100%;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    .border {
        border: 1px solid #000 !important;
        padding: 0.3rem 0.5rem !important;
    }

    .trim {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #text {
        margin-bottom: 0;
    }

    button {
        text-decoration: none;
        color: #47663B;
        margin-bottom: 30px;
    }

    button:hover {
        color: #000;
    }

    .field-holder {
        position: relative;
        margin-bottom: 1.5rem;
    }

    input:focus,
    textarea:focus {
        outline: none;
        border-bottom: solid 1px #47663B;
        box-shadow: none !important;
        background: #fff;
    }

    input,
    textarea {
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        border-radius: 0;
        color: #000;
        font-size: 1rem;
        background: #fff;
    }

    textarea {
        resize: none;
    }

    label {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
        transition: all 0.3s ease;
        pointer-events: none;
        display: flex;
        align-items: center;
        cursor: text;
    }

    input:focus+label,
    textarea:focus+label,
    input.has-value+label,
    textarea.has-value+label {
        top: -1.5rem;
        font-size: 0.8rem;
        pointer-events: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000000s ease-in-out 0s;
    }

    .img-fluid {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .btn-outline-primary {
        color: #000;
        border: 1px solid #000;
        border-radius: 0;
        font-size: 0.8rem;
        font-family: 'Inter', sans-serif;
    }

    .btn-outline-primary:hover {
        color: #47663B;
        border: 1px solid #47663B;
    }

    .btn-check:checked+.btn {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
    }

    .btn-dark {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        border-radius: 0;
        font-size: 0.8rem;
        font-family: 'Inter', sans-serif;
        width: 100%;
    }

    .btn-dark:hover {
        background-color: #47663B;
        color: #fff;
        border: 1px solid #47663B;
    }

    .style-label {
        text-align: start;
    }

    .color-input {
        border: none;
    }

    .color-input:active,
    .color-input:focus {
        border: none;
    }

    .slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 1px;
        background: #000;
        outline: none;
        border-radius: 2px;
        cursor: pointer;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
    }

    .slider::-ms-thumb {
        width: 10px;
        height: 10px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
    }
}